<a href="https://colab.research.google.com/github/higebobo/my-colab/blob/main/List_of_symbols.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List of symbols

## Import section

In [ ]:
import pandas as pd

## Index list

## Nikkei Stock Average(日経平均株価指数, 日経225)

### SBI Sec.(Japanese)

In [ ]:
url = 'https://site1.sbisec.co.jp/ETGate/?OutSide=on&_ControlID=WPLETmgR001Control&_PageID=WPLETmgR001Mdtl20&_DataStoreID=DSWPLETmgR001Control&_ActionID=DefaultAID&getFlg=on&burl=search_market&cat1=market&cat2=none&dir=info&file=market_meigara_225.html'
table_list = pd.read_html(url)
df_nk225_sbi = table_list[1]
df_nk225_sbi = df_nk225_sbi.iloc[:, [0, 1]]
df_nk225_sbi.columns = ['symbol', 'name']
df_nk225_sbi = df_nk225_sbi.set_index('symbol')

df_nk225_sbi

                name
symbol
1332            日本水産
1333          マルハニチロ
1605           INPEX
1721    コムシスホールディングス
1801            大成建設
...              ...
9613    エヌ・ティ・ティ・データ
9735             セコム
9766     コナミホールディングス
9983     ファーストリテイリング
9984      ソフトバンクグループ

[225 rows x 1 columns]

### fragment.database(Japanese)

In [ ]:
url = 'http://www13.plala.or.jp/bigdata/nikkei225.html'
table_list = pd.read_html(url, header=[0])
df_nk225_fd = table_list[4][:-1]
df_nk225_fd = df_nk225_fd.iloc[:, [0, 1]]
df_nk225_fd.columns = ['symbol', 'name']
df_nk225_fd = df_nk225_fd.set_index('symbol')

df_nk225_fd

         name
symbol
4151    協和キリン
4502       武田
4503    アステラス
4506    大日本住友
4507      塩野義
...       ...
9501     東電ＨＤ
9502      中部電
9503      関西電
9531      東ガス
9532      大ガス

[225 rows x 1 columns]

## Dow Jones Industrial Average

### Wikipedia

In [ ]:
url = 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'
table_list = pd.read_html(url)
df_dji_wp = table_list[1].iloc[:,[2,0]]
df_dji_wp.columns = ['symbol', 'name']
df_dji_wp = df_dji_wp.set_index('symbol')

df_dji_wp

                            name
symbol
MMM                           3M
AXP             American Express
AMGN                       Amgen
AAPL                       Apple
BA                        Boeing
CAT                  Caterpillar
CVX                      Chevron
CSCO                       Cisco
KO                     Coca-Cola
DIS                       Disney
DOW                          Dow
GS                 Goldman Sachs
HD                    Home Depot
HON                    Honeywell
IBM                          IBM
INTC                       Intel
JNJ            Johnson & Johnson
JPM               JPMorgan Chase
MCD                   McDonald's
MRK                        Merck
MSFT                   Microsoft
NKE                         Nike
PG              Procter & Gamble
CRM                   Salesforce
TRV                    Travelers
UNH                 UnitedHealth
VZ                       Verizon
V                           Visa
WBA     Walgreens Boots Alliance
WMT                      Walmart

### SBI Sec.(Japanse)

In [ ]:
url = 'https://site1.sbisec.co.jp/ETGate/WPLETmgR001Control?OutSide=on&getFlg=on&burl=search_home&cat1=home&cat2=learn&dir=learn&file=home_lecture_sihyou_08.html'
table_list = pd.read_html(url)
df_dji_sbi = table_list[1]
df_dji_sbi.columns = ['symbol', 'name']
df_dji_sbi = df_dji_sbi.set_index('symbol')

df_dji_sbi

                         name
symbol
AAPL                     アップル
AXP              アメリカン･エキスプレス
BA                      ボーイング
CAT                    キャタピラー
CSCO                 シスコシステムズ
CVX                     シェブロン
DIS                ウォルト･ディズニー
DWDP                  ダウ･デュポン
GS           ゴールドマン･サックス･グループ
HD                     ホーム･デポ
IBM                       IBM
INTC                     インテル
JNJ      ジョンソン･エンド･ジョンソン(J＆J)
JPM     JPモルガン･チェース･アンド･カンパニー
KO                     コカ･コーラ
MCD                    マクドナルド
MMM                        3M
MRK                       メルク
MSFT                  マイクロソフト
NKE                       ナイキ
PFE                     ファイザー
PG       プロクター･アンド･ギャンブル(P＆G)
TRV                    トラベラーズ
UNH            ユナイテッドヘルス･グループ
UTX            ユナイテッド･テクノロジーズ
V                          ビザ
VZ           ベライゾン･コミュニケーションズ
WBA        ウォルグリーン･ブーツ･アライアンス
WMT                    ウォルマート
XOM                  エクソンモービル

## National Association of Securities Dealers Automated Quotations

### Wikipedia

In [ ]:
url = 'https://en.wikipedia.org/wiki/Nasdaq-100'
table_list = pd.read_html(url)
df_nasdaq_wp = table_list[3].iloc[:, [1, 0]]
df_nasdaq_wp.columns = ['symbol', 'name']
df_nasdaq_wp = df_nasdaq_wp.set_index('symbol')

df_nasdaq_wp

                            name
symbol
ATVI         Activision Blizzard
ADBE                       Adobe
ADP                          ADP
ABNB                      Airbnb
ALGN                       Align
...                          ...
WBA     Walgreens Boots Alliance
WDAY                     Workday
XEL                  Xcel Energy
ZM                          Zoom
ZS                       Zscaler

[102 rows x 1 columns]

### Daiwa Asset Management(Japanse)

In [ ]:
url = 'https://www.daiwa-am.co.jp/special/nasdaq100/brand/'
table_list = pd.read_html(url)
df_nasdaq_daiwa = table_list[0]
df_nasdaq_daiwa.columns = ['symbol', 'name']
df_nasdaq_daiwa = df_nasdaq_daiwa.set_index('symbol')

df_nasdaq_daiwa

                    name
symbol
AAPL                アップル
MSFT             マイクロソフト
AMZN         アマゾン・ドット・コム
FB          メタ・プラットフォームズ
TSLA                 テスラ
...                  ...
SWKS    スカイワークス・ソリューションズ
SIRI      シリウスＸＭホールディングス
PDD             ピンドゥオドゥオ
SPLK               スプランク
PTON       ペロトン・インタラクティブ

[101 rows x 1 columns]

## Standard and Poor's 500

### Wikipedia

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
table_list = pd.read_html(url)
df_sp_wp = table_list[0].iloc[:, [0,1]]
df_sp_wp.columns = ['symbol', 'name']
df_sp_wp = df_sp_wp.set_index('symbol')

df_sp_wp

                 name
symbol
MMM                3M
AOS       A. O. Smith
ABT            Abbott
ABBV           AbbVie
ABMD          Abiomed
...               ...
YUM       Yum! Brands
ZBRA            Zebra
ZBH     Zimmer Biomet
ZION    Zions Bancorp
ZTS            Zoetis

[504 rows x 1 columns]